* {
    color:white;
    background-color: #333;
    
}
/* Header Styles */
.header {
    background-color: #050505;
    padding: 1rem;
    text-align:center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 2.0rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #fff7f7;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff7f7;
  }
.intro
{
    background-color: #333;
    font-size:30px;
    text-align: center;
}

div.button{
  display: flex;
  justify-content: center;
  cursor:pointer;
  appearance: none;
  background-color: inherit;
  border:none;
  margin:0;
  padding:0;
}


.center
{
    font-size: 30px;
    text-align:center;
    display:flex;
    justify-content: center;
}
p.question
{
    font-size: 30px;
    color:white;
    display:flex;
    justify-content: center;
}
.mid
{
    color:white;
    display:flex;
    justify-content: center;
    padding:0;
}
.mail
{
  display:flex;
  justify-content:center;
  padding:0;
  font-size:25px;
}
div
{
    display:flex;
   justify-content:center;
}
img{
        max-width:100%;
        height:auto;
}
/* Footer Styles */
.footer {
    background-color: #050505;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width:100%;
}
.about
{
    text-align: center;
    background-color: white;
}